body {
  background: #FEB41C;
  color: #24221F;
  margin: 0 8px;
}

label {
  display: block;
  margin-top: 8px;
}

select {
  -webkit-appearance: listbox;
  border-radius: 6px;
  border: 1px solid #5E7C88;
  height: 32px;
  line-height: 32px;
  width: 100%;
}

h1 {
  align-items: baseline;
  display: flex;
  font-size: 36px;
  justify-content: space-around;
  margin: 16px 0;
}

.logo {
  width: 100px;
}
